li 
{
    list-style-type: none;
    text-align: center;
}
span 
{
    display: inline-block;
    border: 1px solid black;
    font-weight: bold;
    padding: 10px 10px 30px 10px;
    width: 70px;
    margin-right: -10px;
}
button
{
    width: 100%;
}
.cellFruit
{
    background-color: red;
}
.cellMeat
{
    background-color:aqua;
}
.cellFlower
{
    background-color: yellow;
}