body
{
    font-family: "Arial";
}
.highlight
{
    color: red;
    font-style: italic;
}
h2
{
    text-transform: uppercase;
}
#bumble h2
{
    line-height: .8;
}
.category
{
    border: 1px solid blue;
    font-size: .875em;
}
a
{
    text-decoration: none;
    color: #0000FF;
    font-weight: bold;
}
ul
{
    background-color: rgb(208,23,255);
}
img
{
    margin: 0 auto;
    display: block;
}