.old
{
    display: none;
}

.table 
{
    display: table;
    border-collapse: collapse;
}

.cell
{
    display: table-cell;
    padding: 3px;
    color: #FFFFFF;
}

.border
{
    border: 1px solid black;
}

.row
{
    display: table-row;
}

.blue
{
    background-color: #0055A0;
}

.red
{
    background-color: #F15D30;
}
